# Don't track content of these symbolic link
personal_library
data/numpy_vectorize_data.npy
data/dataset
data/vectors
*.ipynb_checkpoints
*__pycache__
*.DS_Store
.vscode
model_weights/9_ch.hdf5
model_weights/9_w.hdf5